@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 2%;
        --background-light: 0 0% 8%;
        --foreground: 0 0% 98%;

        --card: 0 0% 5%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 5%;
        --popover-foreground: 0 0% 98%;

        --primary: 140 100% 50%;
        --primary-foreground: 0 0% 2%;
        --secondary: 193 100% 52%;
        --secondary-foreground: 0 0% 2%;
        --muted: 0 0% 12%;
        --muted-foreground: 0 0% 75%;
        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 70% 45%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 20%;
        --input: 0 0% 12%;
        --ring: 0 0% 85%;
        --chart-1: 220 75% 55%;
        --chart-2: 160 70% 50%;
        --chart-3: 30 85% 60%;
        --chart-4: 280 70% 65%;
        --chart-5: 340 80% 60%;
    }
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        @apply border-border !cursor-none;
    }
    body {
        @apply bg-background text-foreground font-roboto-flex;
    }
}

@layer components {
    .grid {
        @apply gap-[25px];
    }

    .markdown-text ul {
        @apply pl-5 mt-2 list-disc;
    }
}
